.modal {
    border: 1px solid #e5e5e5;
    padding: 20px;
    border-radius: 10px;
    .modal-header {
        display: flex;
        justify-content: space-between;
        .close-btn {
            cursor: pointer;
        }
    }
}